<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to The <%= title %>, Page </p>
      <p></p>
      <p>My Name is Aaron Ainsworth</p>
      <img></img>
      <p>I am 19 years old and attending Centennial college for Software Engineering</p>
        <p>and Website developement. I am currently learning how to use Java, Javascript, MongoDB and other</p> programming
        lanugages to make websites and databases.</p>
        <p></p>
        <img src="images/photo.JPG" alt="Photo of me">

        <p>Here is a link to my Resume</p>
        <a href=pdfs/resume.pdf>RESUME</a>
    </div>
  </div>

<% include partials/footer.ejs %>