<% include partials/header.ejs %>
<div class="container">
  <div class="jumbotron">
    <h1><%= title %></h1>
    <p>Welcome to The <%= title %>, Page </p>
    <p></p>
    <h1>This lists the projects I have done</h1>
    <p></p>
    <h1>All In one Math Tool</h1>
    <img src="/images/AIOMT.png" alt="All in one math tool">

    <p>This was made using Batch python and cecho.exe, I made it alone and use it to practise my python programming</p>
    <p></p>
    <h1>This Is an animation I made</h1>
    <video controls>Your browser does not support the &lt;video&gt; tag.
      <source src="/images/animation.mp4"/>
    </video>
    <p>This was made using blender and mixomo, it was done alone and I use this animation as a refrence when improving my future animations. I try and make the newer animation smoother then this one</p>
  </div>
</div>
<% include partials/footer.ejs %>