<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to The <%= title %>, Page </p>
      <p></p>
      <p>Services I Offer</p>
      <li>Python Scripts</li>
      <li>Code Debugging</li>
      <li>Website Building</li>
      <li>Website Maintenance</li>
      <li>Batch/CMD Programs</li>
      <li>Compiling Exes</li>
      <li>AHK(Auto Hot Key) Scripts</li>
    </div>
  </div>

<% include partials/footer.ejs %>